.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#tumbler {
  y: 50%-55;
}
.item {
  height: 90;
}
.item text {
  font-size: 80;
  fill: white;
  x: 85;
}

#button-br {
  fill: green;
}

#button-tr {
  fill: blue;
}
